<nav class="menu">
    <a href="/dashboard">Tableau de bord</a>
    <a href="/catways-page">Catways</a>
    <a href="/reservations-page">Reservations</a>
    <a href="/users-page">Utilisateurs</a>
    <a href="/documentation">Documentation</a>
    <a href="/logout">Deconnexion</a>
</nav>
